* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;

}

.none {
    display: none;
}


.zpazap {
    position: fixed;
    bottom: 20px;
    right: 60px;
    border-radius: 100%;
    width: 3%;
    z-index: 999999999999999;
}

.zz {
    width: 70px !important;
    background-color: green;
    padding: 10px !important;
    border-radius: 100%;
}


.header {
    height: 12vh;
    max-height: 90px;
    background-color: rgb(6, 188, 247);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    float: left;
    padding-bottom: 10px;
    display: flex;
    z-index: 999999999999999999999;
}

.header ul {

    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.header li a {
    font-family: "Montserrat", sans-serif;

    display: block;
    padding: 0.7em 0.5em;
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px #f7f7f7 solid;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}


.clube {
    background-color: rgb(218, 165, 32);
}

.header li a:hover,
.header .btn-mobile:hover {
    background-color: #02a1ee;

    color: #fff;
}

.header .logo {
    display: block;
    float: left;

}


.header .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    clear: both;
    background-color: rgb(6, 188, 247);


    max-height: 0;
    transition: max-height .2s ease-out;
}

.btn-cl {
    margin-top: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background-color: transparent;
    border: 3px solid white;
    width: 70%;
    height: 70px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 10px 20px 0 rgb(175, 175, 175);
}

/* menu icon */

.header .mobile-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .mobile-icon .hamburguer {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon .hamburguer:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .mobile-icon .hamburguer:before {
    top: 5px;
}

.header .mobile-icon .hamburguer:after {
    top: -5px;
}

.clube-container {
    width: 100%;
    height: auto;
    background-color: #e3cca4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(360deg, rgb(0, 26, 35), rgba(0, 26, 35, 0.708)), url('te.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 10%;
    background: #e3cca4;
    background: linear-gradient(180deg, #e3cca4, #e3cca461), url('sand.jpg');
    background-size: cover;
}


.clu {
    padding-left: 5%;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.texts {
    font-family: Montserrat;
    color: white;
    width: 100%;
    max-width: 750px;
    text-align: left;
}

.titulo {
    position: relative;
    z-index: 3;
    font-size: 36px;
    color: white;
    letter-spacing: 0px;

}

.title {
    font-size: 44px;
    text-align: center;
    padding-top: 10%;

}

.parag {
    opacity: 0;
    margin-top: 10%;
    font-size: 14px;
    font-weight: 700;
    transition: all 2s;
    transform: translateX(-50%);
    color: black;
}


.show {
    opacity: 1;
    transition: all 2s;

    transform: translateX(00);
    filter: blur(0px);
}

.es {
    background-color: rgb(218, 165, 32);
    color: black;
}

.destaque {
    background-color: rgb(218, 165, 32);
    color: black;
}


.pqdevo {
    width: 100%;
    height: 90vh;
    max-height: 400px;
    background-color: #06BCF7;
    display: flex;
}

.img50 {
    width: 50%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 26, 35, 0.676), rgba(0, 26, 35, 0.824)), url('papa.png');
    background-repeat: repeat;
    background-size: cover;
}

.pq-head {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;

}

.txtpq {
    color: white;
    width: 90%;
    font-size: 37px;
    max-width: 750px;
    text-align: center;
    margin-bottom: 5%;
}

.parapq {
    width: 90%;
    color: white;
    font-size: 24px;
}

.ul {
    width: 90%;
    margin-top: 20px;
    list-style: none;
}

.ul .li {

    font-size: 24px;
    color: white;
    margin-top: 40px;
}

.txtFundo {
    font-size: 100px;
    -webkit-text-stroke: 1px white;
    /* Contorno preto de 1 pixel */
    text-stroke: 1px white;
    /* Contorno preto de 1 pixel */
    font-size: 70px;
    color: transparent;
}

.planos {
    width: 100%;
    height: 200vh;
    max-height: 1200px;
    max-width: 1500px;
    margin: 0 auto;

}

.container-palnos {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card {
    width: 50%;
    height: 100%;
    background: #06bcf7;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
}

.head {
    width: 100%;
    height: 15%;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.beneficio {
    height: 10%;
    font-size: 14px;
    color: black;
    padding: 0 10px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 100%;
    margin-right: 20px;
}

.cl {
    font-size: 24px;
    width: 70%;
    text-align: center;
    color: white !important;
    margin-top: -50px;
}

.preto .cl {
    color: white !important;
}

.values {
    width: 100%;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.assinar-btn {
    width: 80%;
    margin: 0 auto;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(218, 165, 32);
    border-radius: 30px;
    border: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}




.preto {
    box-shadow: 0 0 20px rgb(218, 165, 32);
    ;
    position: relative;
}

.mais {
    position: absolute;
    background-color: rgb(218, 165, 32);
    ;
    padding: 5px;
    top: -20px;
    width: 90%;
    text-align: center;
}


/* menu btn */

.header .mobile-btn {
    display: none;
}

.header .mobile-btn:checked~.nav {
    max-height: 500px;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer {
    background: transparent;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:before {
    transform: rotate(-45deg);
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:after {
    transform: rotate(45deg);
}

.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:before,
.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:after {
    top: 0;
}

.container {

    width: 100%;
    float: left;
    margin-top: 100px;

}

.content {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 92%;
    align-items: center;
    margin: 0 auto;
    max-width: 1500px;

}

li a {
    font-size: 16px;
}


/* 48em = 768px */

@media (min-width: 48em) {

    .header li {
        float: left;
    }

    .header li a {

        padding: 15px 20px;
        margin-top: 10px;
        border-radius: 6px;

    }

    .header .nav {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .mobile-icon {
        display: none;
    }

    .header li a {

        transition: .3s;
        border-bottom: 0;

    }

}



.letreia p {
    padding-top: 30px;
    font-family: Montserrat;
    color: black;
    font-weight: 700;
}


.main_footer {
    position: relative;
    font-family: Montserrat;
    background-color: rgb(6, 188, 247);
    color: #fff;
    font-size: 0.875em;
}

/* 
.main-footer img {
    position: absolute;
    bottom: 0;
    width: 30%;
    left: -30px;
} */


.main_footer .content {
    float: left;
    width: 90%;
    font-family: Montserrat;

    margin: 0 5%;
    padding: 5em 0;
}

.container {
    float: left;
    width: 100%;
}

.colfooter {

    width: 100%;
    height: auto;
    font-family: Montserrat;
    float: left;
    margin-bottom: 2em;

}

.colfooter ul {
    width: 100%;
    float: left;
}

.colfooter ul li {
    padding: 0.2em 0em;
    font-family: Montserrat;
    list-style: none;

}

.colfooter ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    font-family: Montserrat;

}

.colfooter ul li a i {
    font-size: 0.5em;
    font-family: Montserrat;

}

.colfooter ul li a:hover {
    text-decoration: underline;
}

.colfooter .titleFooter {
    font-family: Montserrat;

    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #4ec0db solid;
}

.colfooter p {
    font-family: 'open_sanslight';
    font-family: 'open_sansregular';

    color: #ffffff;
    font-size: 1em;
    height: 25px;
}

.botao {

    padding: 10px 12px;
    color: #fff;
    font-family: 'open_sansregular';
    font-family: 'open_sansregular';

    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;

}

.botao {

    font-size: 1em;
    color: #ffffff;
    text-align: center;
    font-family: 'open_sansregular';
    border: 1px solid #ffffff;
    border-radius: 3px;
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent !important;
    z-index: 10;

}


.main_footer_copy {
    background-color: #01a2c8;
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family: 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #e82626;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {

    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }

}

.about {
    position: relative;
}

.about .svgsw {
    position: absolute;
    top: 90px;
    width: 100%;
}

.btnler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02a1ee;
    color: white;
    cursor: pointer;
    width: 40%;
    height: 70px;
    margin-top: 50px;
    position: relative;
}

.btnler::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 10px;
    left: -30px;
    transition: 0.5s;

    border: 4px solid black;
}

.btnler:hover::before {
    top: 0px;
    left: 0px;
    width: 98%;
    height: 90%;
    border: 4px solid #02a1ee;

}

.yel {
    background-color: rgba(218, 165, 32);
}


.feedback {
    width: 100%;
    height: 70vh;
    background-color: white;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
}

.tit-feed {
    margin-top: 20px;
    font-family: Montserrat;
    margin-left: 30px;
    text-align: center;
    font-size: 50px;
}

.sty {}

.estilo {
    background-color: #02a1ee;
    color: white;
    box-shadow: 10px 10px 0px black;
}

.head-feed {
    height: 10%;

}

.feedbacks {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.feedcontainer {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 90%;

    width: 100%;
}

.card-feedback {
    width: 90%;
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10%;
}

.progress {
    width: 100%;
    height: 6px;

    background-color: rgba(218, 165, 32);
}

.feed {
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat;
    text-align: center;
    position: relative;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star {
    display: flex;
}

.star .hs {
    color: rgba(218, 165, 32);
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-person {
    width: 30%;
    margin-right: 10px;
}

@media (max-width:700px) {
    .header .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11vh;
        height: 88vh;
        justify-content: space-around;
        z-index: 99999999999999999999999;
        right: 0px;
        clear: both;
        background-color: rgb(6, 188, 247);
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .avec {
        height: 100vh;
        background-position: center;
        flex-direction: column;
        margin-top: 90px;
    }

    .phone {
        width: 60%;
        margin-top: -100px;
    }

    .titulo {
        position: relative;
        z-index: 3;
        font-size: 30px !important;
        text-align: center;
        color: white;
        letter-spacing: 0px !important
    }

    .letters {
        margin-top: -174px;
        z-index: 9999999;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .letters h3 {
        text-align: center;
    }

    .aboutt h1 {
        font-size: 30px;
    }

    .about {
        display: flex;
        flex-direction: column;
        height: 120vh;

    }

    .aboutt {
        width: 100%;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }

    .colfooter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .mt3 {
        margin-top: -40px;
    }

    .aboutt h3 {
        text-align: center;
    }

    .about img {
        width: 100%;
    }

    .aa {
        display: flex;
        align-items: flex-end;
    }

    .s {
        text-align: right !important;
    }

    .history {
        height: 75vh;
        flex-direction: column;
    }

    .historyT {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .history h1 {
        font-size: 36px;
    }

    .historyT h3 {
        text-align: center;
    }

    .history img {
        width: 100%;
    }

    .servicos {
        flex-direction: column;
    }

    .letreia {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .letreia h1 {
        font-size: 36px;

    }

    .boxca {
        width: 170px;
    }

    .grid {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .membros {
        flex-direction: column;
    }

    .membros .me {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
    }

    .vittor {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./vit1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

    }

    .and {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./and1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .dem {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./dem1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .del {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./del.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        cursor: pointer;
    }

    .vittor:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(6, 187, 247, 0)), url('./vit1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .and:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(6, 187, 247, 0)), url('./and1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .dem:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(6, 187, 247, 0)), url('./dem1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }


    .del:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(6, 187, 247, 0)), url('./del.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .me h2 {

        font-weight: 500;
        font-size: 30px;
        margin-top: -40px;
        opacity: 0;
        transition: 0.5s;
        letter-spacing: 3px;
    }

    .me:hover>h2 {
        opacity: 1;
        margin-top: -70px;
    }


    .letreiro h1 {
        font-size: 36px;
        text-align: center;
    }

    .titlex {
        width: 80%;
        font-size: 36px;
    }

    .fon36 {
        font-size: 24px;
    }

    .wid60 {
        width: 100%;
    }

    .wid40 {
        width: 80%;
        margin-bottom: 0;
    }

    .about .svgsw {
        top: 0;
    }

    @media (max-height: 700px) {
        .about img {
            width: 80%;
        }
    }

    .texts {
        font-family: Montserrat;
        color: white;
        width: 100%;
        max-width: 750px;
        text-align: left;

    }

    .title {
        font-size: 36px;
        padding-top: 0 !important;
    }

    .pqdevo {
        padding-top: 20%;
    }

    .img50 {
        display: none;
        width: 50%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 26, 35, 0.676), rgba(0, 26, 35, 0.824)), url('papa.png');
        background-repeat: repeat;
        background-size: cover;
    }


    .pq-head {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;

    }


    .ul {
        width: 90%;
        margin-top: 10px;
        list-style: none;
    }

    .ul .li {

        font-size: 16px;
        color: white;
        margin-top: 40px;
    }

    .gridparceiros {
        width: 100%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        height: 170vh !important;
        max-height: 9000000px !important;
    }

    .par {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
        width: 100% !important;
        height: 400px !important;
    }



    .planos {
        height: 450vh !important;
        max-height: 10000000px;
        display: flex;

    }

    .container-palnos {
        height: 100% !important;
        flex-direction: column;
        width: 90%;
    }

    .assinar-btn {
        margin-bottom: 20px;
    }


    .card {
        margin-top: 15%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    .list {
        width: 100%;
        height: 50%;
        margin-top: 10%;
    }

    .listm {
        height: 100%;
    }


    .beneficio {
        color: white;
        font-weight: 400;
        padding: 5px 10px;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .par img {
        width: 30% !important;
    }

    .faq {}



}



carousel {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-item {
    float: left;
    display: none;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.active {
    display: block;
}

.faq {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #e3cca4;
    padding-bottom: 5%;
    padding-top: 10%;
}

.faqcon {
    text-align: center;

}

.faqTitle {
    color: black;
    font-size: 36px;

}

.question {
    width: 100%;
    max-width: 700px;
    border-bottom: 1px solid black;
    padding: 10px 0;
    color: black;
    margin: 10px
}

.question input,
.question .answer {
    display: none;
    margin-top: 10px;
    transition: 0.5s;
}

.question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
}

.question input:checked~.answer {
    display: block
}

body {
    background-color: white;
}

.gridparceiros {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    display: flex;
}

.par {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: gray;
}

.par img {
    width: 50%;
}

.parpar {
    margin-top: 10px;
    width: 80%;
    text-align: center;
    color: white;
}

.black {
    font-weight: 600;
    color: black;
}

.azul {
    background-color: rgb(6, 188, 247);
    text-align: center;
    color: white;
    max-height: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.azuls {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sty {
    width: 80%;
    height: 3px;
    background-color: white;
    margin-left: auto;
}

.esq {
    width: 65%;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 5%;
}


.titleservices {
    width: 100%;
    margin-top: 10vh;

    height: 30vh;
    max-height: 150px;
    background-color: rgb(6, 188, 247);
    background: linear-gradient(-90deg, rgba(0, 49, 67, 0), rgba(0, 41, 53, 0)), url('pack\ banner\ drop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% - 10%) calc(100% - 55%);
    padding-top: 5%;
}

.servicesContent {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundoSe {
    display: none;
    position: absolute;
    width: 20%;
    height: 60%;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 10%, transparent 0, transparent 50%);

    opacity: 1;
    z-index: 2;
}

.titulo {
    position: relative;
    z-index: 3;
    font-size: 70px;
    color: white;
    letter-spacing: -5px;

}

.linha {
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: white;
}





.about {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 20vh;
    max-height: 400px;
    width: 100%;
    background-color: rgb(218, 165, 32);
}


.filter {
    filter: drop-shadow(30px 0px 00px rgb(6, 188, 247));
}

.aboutt {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.clube {
    background-color: rgb(218, 165, 32);
    color: black;
}

.aboutt .title-about {
    padding-top: 0px;
    font-size: 30px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    letter-spacing: -2px;

}



.ani {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1.5s;
}

.anit {
    opacity: 0;
    transform: translatex(-50%);
    transition: all 1.5s;
}

.anim {
    opacity: 0;
    transform: translatex(50%);
    transition: all 2s;
}






.show {
    opacity: 1;

    transform: translateX(00);
    transform: translateY(00);

    filter: blur(0px);
}



.footer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: rgb(6, 188, 247);
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr .logo {
    width: 50%;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: white;
    font-size: 12PX;
    width: 60%;
    margin-top: 5%;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(218, 165, 32);

    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.solut {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
}

.nav__ul a {
    color: white;
}

.afoo {
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 700;
}

.fonmin {
    color: white;
    font-size: 12px;
}


.footerReserved {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096c8;
    text-align: center;
}


@media (min-width: 700px) {
    * {
        display: none;
    }
}


input[type=radio] {
    display: none;
}

.cardss {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.containerss {
    width: 100%;
    max-width: 900px;
    max-height: 900px;
    height: 110vh;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonpaln {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    font-size: 45px;
    font-weight: 800;
}

.prev {
    left: 5px;
    color: black;
}

.ant {
    color: black;
    right: 5px;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 15%;
}

.imgg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

.player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.play-icon {
    margin-right: 10px;
}

.song-info {
    width: calc(100% - 32px);
    display: block;
}

.song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle,
.time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
}

.time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
}

.progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}

#item-2:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
}

.pone1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}