* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

.none {
    display: none;
}

.header {
    height: 12vh;
    max-height: 90px;
    background-color: rgb(6, 188, 247);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    float: left;
    padding-bottom: 10px;
    display: flex;
    z-index: 999999999999999999999;
}

.header ul {

    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.header li a {
    font-family: "Montserrat", sans-serif;

    display: block;
    padding: 0.7em 0.5em;
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px #f7f7f7 solid;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}



.header li a:hover,
.header .btn-mobile:hover {
    background-color: #02a1ee;
    color: #fff;
}

.header .logo {
    display: block;
    float: left;

}


.header .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    clear: both;
    background-color: rgb(6, 188, 247);
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .mobile-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .mobile-icon .hamburguer {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon .hamburguer:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .mobile-icon .hamburguer:before {
    top: 5px;
}

.header .mobile-icon .hamburguer:after {
    top: -5px;
}

/* menu btn */

.header .mobile-btn {
    display: none;
}

.header .mobile-btn:checked~.nav {
    max-height: 500px;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer {
    background: transparent;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:before {
    transform: rotate(-45deg);
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:after {
    transform: rotate(45deg);
}

.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:before,
.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:after {
    top: 0;
}

.container {

    width: 100%;
    float: left;
    margin-top: 100px;

}

.content {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 92%;
    align-items: center;
    margin: 0 auto;
    max-width: 1500px;

}

li a {
    font-size: 16px;
}


/* 48em = 768px */

@media (min-width: 48em) {

    .header li {
        float: left;
    }

    .header li a {

        padding: 15px 20px;
        margin-top: 10px;
        border-radius: 6px;

    }

    .header .nav {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .mobile-icon {
        display: none;
    }

    .header li a {

        transition: .3s;
        border-bottom: 0;

    }

}



.titleservices {
    margin-top: 10vh;
    width: 100%;
    height: 30vh;
    max-height: 150px;
    background-color: rgb(6, 188, 247);
    background: linear-gradient(-90deg, rgba(0, 49, 67, 0), rgb(0, 41, 53, 0)), url('pack\ banner\ drop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: calc(100% - 10%) calc(100% - 55%);
}

.servicesContent {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundoSe {
    display: none;
    position: absolute;
    width: 20%;
    height: 60%;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 10%, transparent 0, transparent 50%);

    opacity: 1;
    z-index: 2;
}

.titulo {
    position: relative;
    z-index: 3;
    font-size: 70px;
    color: white;
    letter-spacing: -5px;

}

.linha {
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: white;
}

.welcome {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, rgba(0, 49, 67, 0.5),  rgb(0, 41, 53)) , url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=945,h=775,fit=crop/m6LrpJWxljuQv6p7/bd0a83d6-70b0-48a7-a879-f538e1413bf9-YrDXKJDWLrteQaKG.jpg');  */
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;

}

.titlex {
    font-size: 50px;
    width: 80%;
    font-family: Montserrat;
    color: white;
    margin-bottom: 5%;
}

.fon36 {
    font-size: 36px;
}

.wid60 {
    width: 60%;
    margin-left: 5%
}

.jef {
    display: none;
    width: 50%;
}

.avec {
    background-color: rgb(6, 188, 247);
    background: linear-gradient(-90deg, rgba(0, 49, 67, 0), rgb(0, 41, 53)), url('https://lh3.googleusercontent.com/p/AF1QipOuFc4ku7cfsGsyocWNWf4Bu5p1qAgEcBXpQaeX=s680-w680-h510')fixed;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 170vh;


}



.container-avec {
    width: 100%;
    height: 90vh;

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btnavec {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    z-index: 9999;
    position: relative;
    background-color: #7269fa;
    color: white;
    text-decoration: none;
    position: relative;
    transition: 0.4s;
    width: 40%;
    height: 40px;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 5%;
}

.btnavec:hover {
    box-shadow: 3px 3px 0px 0 #8c86e0;

}

.box-sha {

    background-color: rgb(218, 165, 32);
    padding: 2px;
    color: black;
}

.wid40 {
    width: 40%;
    margin-bottom: 10%;
}






.about {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: auto;
    padding: 10px;
    width: 100%;
    background-color: rgb(218, 165, 32);
    box-shadow: 0 0 10px transparent !important;
}


.filter {
    filter: drop-shadow(30px 0px 00px rgb(6, 188, 247));
}

.aboutt {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cdna {
    background-color: rgb(218, 165, 32) !important;

}

.clube {
    background-color: rgb(218, 165, 32);
    color: black;
}

.aboutt .title-about {
    padding-top: 0px;
    font-size: 24px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    letter-spacing: -2px;

}

.phone {
    position: relative;
    width: 33%;
    max-width: 800px;

    animation: ups 1s;
}

@keyframes ups {
    0% {
        margin-top: 100px;
    }

    100% {
        margin-top: 0;
    }
}

.letters {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;
}

.letters h1 {
    margin-left: auto;
    text-align: right;
    width: 100%;
    max-width: 700px;
}

h1 {
    font-size: 48px;
}

.let {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -2px;
    color: white;
}

.tit {
    font-size: 38px;
}



h3 {
    text-align: right;
}

button {
    text-align: center;
    font-size: max(18px, 1vw);
    padding: 15px;
    width: 100%;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    font-weight: 700;
    cursor: pointer;
}

.equipe {
    background-color: rgb(6, 188, 247);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://imgmd.net/images/c_limit%2Cw_1600/v1/guia/1684181/dubai-213-c.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 220vh;
    width: 100%;
}

.letreia {
    font-family: Montserrat;
    text-align: left;
    width: 45%;
    padding: 20px;
}

.letreia h1 {
    padding-top: 0px;
    color: #02a1ee;
    /* color:rgb(6, 188, 247) ; */
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.grid {
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.boxca {
    background-color: white;
    width: 200px;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.grid img {
    background-color: #02a1ee;
    border-radius: 50%;
    padding: 10px;
}

.grid p {
    text-align: center;
    font-size: 14px;
}

.servicos {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membros {
    position: relative;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membros .me {
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
}

.me h2 {

    font-weight: 500;
    font-size: 30px;
    margin-top: -200px;
    opacity: 0;
    transition: 0.5s;
    letter-spacing: 3px;
}

.me:hover>h2 {
    opacity: 1;
    margin-top: -230px;
}

.vittor {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./vit.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.and {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./and.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dem {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./dem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.del {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./gid.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.jusequipe {
    padding-top: 0 !important;
}

.letreiro {
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe h1 {
    font-weight: 400;
    letter-spacing: 3px;
}




.letreia p {
    padding-top: 30px;
    font-family: Montserrat;
    color: black;
    font-weight: 700;
}




.botao {

    padding: 10px 12px;
    color: #fff;
    font-family: 'open_sansregular';
    font-family: 'open_sansregular';

    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;

}

/* .botao::before {

    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
} */

/* .botao:hover::before {

    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
} */

.botao {

    font-size: 1em;
    color: #ffffff;
    text-align: center;
    font-family: 'open_sansregular';
    border: 1px solid #ffffff;
    border-radius: 3px;
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent !important;
    z-index: 10;

}


.about {
    position: relative;
}

.about .svgsw {
    position: absolute;
    top: 90px;
    width: 100%;
}

.btnler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02a1ee;
    color: white;
    cursor: pointer;
    width: 40%;
    height: 70px;
    margin-top: 50px;
    position: relative;
}

.btnler::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 10px;
    left: -30px;
    transition: 0.5s;

    border: 4px solid black;
}

.btnler:hover::before {
    top: 0px;
    left: 0px;
    width: 98%;
    height: 90%;
    border: 4px solid #02a1ee;

}

.yel {
    background-color: rgba(218, 165, 32);
}


.feedback {
    width: 100%;
    height: 70vh;
    background-color: white;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
}

.tit-feed {
    margin-top: 20px;
    font-family: Montserrat;
    margin-left: 30px;
    text-align: center;
    font-size: 50px;
}

.sty {}

.estilo {
    background-color: #02a1ee;
    color: white;
    box-shadow: 10px 10px 0px black;
}

.head-feed {
    height: 10%;

}

.feedbacks {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.feedcontainer {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 90%;

    width: 100%;
}

.card-feedback {
    width: 90%;
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.progress {
    width: 100%;
    height: 6px;

    background-color: rgba(218, 165, 32);
}

.feed {
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat;
    text-align: center;
    position: relative;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star {
    display: flex;
}

.star .hs {
    color: rgba(218, 165, 32);
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-person {
    width: 30%;
    margin-right: 10px;
}

@media (max-width:700px) {
    .header .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11vh;
        height: 88vh;
        justify-content: space-around;
        left: 0px;
        z-index: 99999999999999999999999;
        position: absolute;
        right: 20px;
        clear: both;
        background-color: rgb(6, 188, 247);
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .avec {
        height: 100vh;
        background-position: center;
        flex-direction: column;
        margin-top: 90px;
    }

    .phone {
        width: 60%;
        margin-top: -100px;
    }

    .letters {
        margin-top: -174px;
        z-index: 9999999;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .letters h3 {
        text-align: center;
    }

    .aboutt h1 {
        font-size: 30px;
    }



    .aboutt {
        width: 100% !important;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }



    .mt3 {
        margin-top: -40px;
    }

    .aboutt h3 {
        text-align: center;
    }

    .about img {
        width: 100%;
    }

    .aa {
        display: flex;
        align-items: flex-end;
    }

    .s {
        text-align: right !important;
    }

    .history {
        height: 75vh;
        flex-direction: column;
    }

    .historyT {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .history h1 {
        font-size: 36px;
    }

    .historyT h3 {
        text-align: center;
    }

    .history img {
        width: 100%;
    }

    .servicos {
        flex-direction: column;
    }

    .letreia {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .letreia h1 {
        font-size: 36px;

    }

    .boxca {
        width: 170px;
    }

    .grid {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .membros {
        flex-direction: column;
    }

    .title-about {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .nomar {
        margin: 0 !important;
        padding: 0 !important;
    }

    .membros .me {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
    }


    .me h2 {

        font-weight: 500;
        font-size: 30px;
        margin-top: -40px;
        opacity: 0;
        transition: 0.5s;
        letter-spacing: 3px;
    }

    .me:hover>h2 {
        opacity: 1;
        margin-top: -70px;
    }


    .letreiro h1 {
        font-size: 36px;
        text-align: center;
    }

    .titlex {
        width: 80%;
        font-size: 36px;
    }

    .fon36 {
        font-size: 24px;
    }

    .wid60 {
        width: 100%;
    }

    .wid40 {
        width: 80%;
        margin-bottom: 0;
    }

    .about .svgsw {
        top: 0;
    }

    @media (max-height: 700px) {
        .about img {
            width: 80%;
        }
    }


    .tit-feed {
        margin-top: 20px;
        width: 100;
        font-family: Montserrat;
        text-align: center;
        font-size: 40px !important;
    }

}



.carousel-item {
    float: left;
    display: none;
}

.carousel-item .servicecard {
    width: 100%;
    height: 100%;
    height: auto;
}

.active {
    display: block;
}



.services {
    width: 100%;
    height: 150vh;
    max-height: 1000px;
    background-color: white;
}


.service-container {
    max-width: 1500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.servicecard {
    width: 28%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardser {
    width: 100%;
    height: 85%;
    position: relative;
}

.cardser::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 95%;
    border: 3px solid #01a2c8;
}

.serVa {
    padding-left: 30px;
    margin-top: 5%;
}

.servTi {
    letter-spacing: 0px !important;
    font-size: 40px;
    color: black !important;
}

.val {
    margin-top: 10px;
    font-size: 24px;

}

@media (max-width:1100px) {

    .service-container {
        max-width: 1500px;
        width: 90%;
        height: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .servicecard {
        width: 30%;

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .servTi {
        letter-spacing: -5px;
        font-size: 30px;
    }

    .val {
        margin-top: 10px;
        font-size: 18px;

    }

}




.headCard {
    height: 40%;
    width: 100%;
    background: url(./1.png);
    background-size: cover;
    background-position: center;
}

.cabelos {
    background: url(./2.png);
    background-size: cover;
    background-position: center;
}

.hi {
    background: url(./3.png);
    background-size: cover;
    background-position: center;
}

.kid {

    background: url(./4.png);
    background-size: cover;
    background-position: center;

}

.hid {
    background: url(./1q.png);
    background-size: cover;
    background-position: center;
}

.ihid {
    background: url(./22.png);
    background-size: cover;
    background-position: center;
}

.som {
    background: url(./5.png);
    background-size: cover;
    background-position: center;
}

.kids {
    background: url(KIDS.jfif);
    background-size: cover;
    background-position:
        calc(100% - 80%) calc(100% - 0%);
}

.grids {
    width: 100%;
    height: 10%;
}

.imgfund {
    width: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('cab.jpg');
    height: 100%;

}


.imgfundBar {
    width: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('gile.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.cabelo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texts-ca {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2%;

}

.texts-ba {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 2%;

}

@media (max-width:700px) {

    .titulo {
        position: relative;
        z-index: 3;
        font-size: 36px;
        text-align: center;
        color: white;
        letter-spacing: 0px !important;
    }

    .services {
        width: 100%;
        height: 300vh !important;
        max-height: 5000px !important;
        background-color: white;
    }


    .service-container {
        max-width: 1500px;
        width: 90%;
        height: 300vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .servicecard {
        width: 100%;

        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .servTi {
        letter-spacing: -5px;
        font-size: 30px;
    }

    .val {
        margin-top: 10px;
        font-size: 18px;

    }

    .cardser {
        width: 90%;
        height: 100%;
        position: relative;
        padding-bottom: 3%;
    }

    .cardser::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 95%;
        border: 3px solid #01a2c8;

    }


}


.title-cabelo {
    margin-top: 20px;
    font-size: 36px;
    background-color: white;
    color: #01a2c8;
    box-shadow: 4px 10px 0 black;
}

.h3f {
    margin-top: 30px;
}

.h3 {
    font-size: 20px;


}

.peq {
    font-size: 18px;
}


.clubex {
    font-weight: 800;
    letter-spacing: -5px;
}

.barba {
    flex-direction: row-reverse;
}

.carsd {
    width: 100%;
    height: 50%;
}


.feedbacksMobile {
    display: none !important;
}

.nomar {
    padding-bottom: 3% !important;
    padding-top: 3% !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    text-align: left !important;
    font-size: 16px !important;
}

.feedback {
    width: 100%;
    height: 70vh;
    max-height: 500px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
}

.tit-feed {
    margin-top: 20px;
    font-family: Montserrat;
    margin-left: 30px;
    text-align: center;
    font-size: 50px;
}

.sty {}



.head-feed {
    height: 10%;

}

.feedbacks {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.feedcontainer {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 90%;

    width: 100%;
}

.card-feedback {
    width: 90%;
    position: absolute;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.show {
    opacity: 1;
    animation: sass infinite 10s;
}

.showt {
    opacity: 0;
    animation: showss infinite 10s;
}

.showd {
    opacity: 1;
    animation: sass infinite 7s;
}

.showb {
    opacity: 0;
    animation: showss infinite 7s;
}


.showda {
    opacity: 1;
    animation: sass infinite 14s;
}

.showdad {
    opacity: 0;
    animation: showss infinite 14s;
}

@keyframes showss {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    59% {
        opacity: 1;
    }

    99% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}

@keyframes sass {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    59% {
        opacity: 0;
    }

    99% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}


@media (max-width:700px) {

    .feedbacks {
        display: none;
    }

    .feedbacksMobile {
        display: flex !important;
    }

    .showMU {
        display: flex;
    }


}



.about-content {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
}



.filter {
    filter: drop-shadow(30px 0px 00px rgb(6, 188, 247));
}

.title-about {
    position: relative;
    z-index: 9099999;
}


.aboutt {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}


.aboutt h1 {
    padding-top: 0px;

    font-family: 'Seleha', Montserrat;
    font-weight: 800;
}


.aboutt h3 {
    margin-top: 20px;
    text-align: right;
    font-family: Montserrat;
    text-align: left;
    padding-left: 5%;

    font-weight: 500;

}

.ani {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s;
}

.anit {
    opacity: 0;
    transform: translateY(500%);
    transition: all 1s;
}



.show {
    opacity: 1;

    transform: translateX(00);
    transform: translateY(00);

    filter: blur(0px);
}

.ourHistory {
    width: 100%;
    height: 170vh;
    max-height: 1200px;
    margin-top: 12vh;
    background-color: white;
}

.titlepage {
    width: 100%;
    height: 10%;
    max-height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.historyTitle {
    display: block;
    font-size: 34px;
}

.paraghistory {
    width: 90%;
    height: 45%;
    margin: 0 auto;
    padding-top: 5%;

}

.parahist {
    padding-top: 5%;
    font-size: 14px;
    line-height: 25px;
}

.stronghi {
    font-weight: 700;
}

.followus {
    height: auto;
    width: 100%;
    background-color: rgb(6, 188, 247);
    margin-top: 20%;
    padding-bottom: 10%;

}

.headfollow {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.titlefollou {
    font-size: 26px;

    color: white;
}

.instafoll {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -35px;
}

.grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.gridinstafoto {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridinsta {
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridinstaf {
    width: 30%;
    height: 100px;
    margin: 3px;

}

.estruturaPa {
    width: 100%;
    height: auto;
    background: linear-gradient(-90deg, rgba(218, 165, 32, 1), rgba(218, 165, 32, 1)), url('fundpa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

.palaceplace {
    width: 95%;
    margin: 10px;
}

.imagesPa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h1es {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: -2px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.ules {
    width: 85%;
    margin: 0 auto;

    margin-top: 10%;
    margin-bottom: 10%;

}

.lies {
    color: white;
    line-height: 24px;
    font-weight: 700;
}

.vid {
    width: 120px;
    height: 120px;
    border-radius: 0 !important;
    border: 0px white !important;
    padding: 0 !important;
}

.fot {
    width: 100%;
    height: 100%
}

.footerReserved {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096c8;
    text-align: center;
}

.servTi {
    color: #02a1ee;
    color: rgb(6, 188, 247);

}

.val {
    color: #02a1ee;
    color: rgb(6, 188, 247);
}


.body {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    height: 100vh;
    max-height: 600px;
    display: flex;
    align-items: center;
    font-family: "Satoshi", sans-serif;
    font-size: var(--lx-text-01);
    font-weight: 500;
    color: #ffffe6;
    position: relative;

}

.carousel-container {
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--lx-gap);
    height: 100%;
}

.carousel-container .carousel {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-container .carousel .item {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-container .carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-container .carousel .item .caption {
    width: 100%;
    padding: var(--lx-space-01);
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-container .carousel .item.active {
    opacity: 1;
    display: block;
}

.carousel-container .btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #10100e;
    background-color: #ffffe6;
    transition: transform 0.2s ease-in-out;
}

.carousel-container .btn:active,
.carousel-container .btn:focus {
    transform: translateY(-50%) scale(0.9);
}

.carousel-container .btn:hover {
    transform: translateY(-50%) scale(0.96);
}

.carousel-container .prev {
    position: absolute;
    width: 1px;
    font-size: 46px;
    left: -10px;

    color: black;
}

.carousel-container .next {
    position: absolute;
    font-size: 46px;
    width: 1px;
    color: black;
    right: 25px;

}

.carousel-container .dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 90%;
}

.carousel-container .dots .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #242421;
    transition: background-color 0.2s ease;
}

.carousel-container .dots .dot.active,
.carousel-container .dots .dot:hover {
    background-color: #06bcf7;
}


.footer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: rgb(6, 188, 247);
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr .logo {
    width: 50%;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: white;
    font-size: 12PX;
    width: 60%;
    margin-top: 5%;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(218, 165, 32);

    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.solut {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
}

.nav__ul a {
    color: white;
}

.afoo {
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 700;
}

.fonmin {
    color: white;
    font-size: 12px;
}

.agende {
    width: 100%;
    height: 70vh;
    max-height: 200px;
    background-image: url(te.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.tituagen {
    font-size: 26px;
    color: white;
    width: 50%;
    margin-left: 5%;
}

.subt {
    font-size: 14px;
    color: black;
}


@media (min-width: 700px) {
    * {
        display: none;
    }
}

.pone1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-form {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zpazap {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    width: auto;
    z-index: 999999999999999;
}

.zz {
    width: 70px !important;
    background-color: green;
    padding: 10px !important;
    border-radius: 100%;
}

.contact-form {
    background-color: rgb(218, 165, 32);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding-bottom: 10%;
}

.h44 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.contact-form h1 {
    margin-bottom: 15px;
    font-size: 24px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #535353;
    border-radius: 2px;
    box-sizing: border-box;
}

.contact-form button {
    width: 50%;
    padding: 15px;
    background-color: rgb(6, 188, 247);
    margin-right: auto;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: rgb(218, 165, 32);
    background-color: rgb(218, 165, 32);
    background-color: rgb(6, 188, 247);



}

#status {
    margin-top: 15px;
    font-size: 14px;
}