@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;

}

.none {
    display: none;
}

.header {
    height: 12vh;
    max-height: 80px;
    background-color: rgb(6, 188, 247);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    float: left;
    padding-bottom: 10px;
    display: flex;
    z-index: 999999999999999999999;
}

.header ul {

    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.header li a {
    font-family: "Montserrat", sans-serif;

    display: block;
    padding: 0.7em 0.5em;
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px #f7f7f7 solid;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}


.clube {
    background-color: rgb(218, 165, 32);
}

.maps {
    width: 100%;
    height: 30vh;

    background: linear-gradient(-90deg, rgba(0, 49, 67, 0), rgb(0, 41, 53, 0)), url('mapss.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header li a:hover,
.header .btn-mobile:hover {
    background-color: #02a1ee;
    color: #fff;
}

.header .logo {
    display: block;
    float: left;

}


.header .nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    clear: both;
    background-color: rgb(6, 188, 247);
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .mobile-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .mobile-icon .hamburguer {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon .hamburguer:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .mobile-icon .hamburguer:before {
    top: 5px;
}

.header .mobile-icon .hamburguer:after {
    top: -5px;
}

/* menu btn */

.header .mobile-btn {
    display: none;
}

.header .mobile-btn:checked~.nav {
    max-height: 500px;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer {
    background: transparent;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:before {
    transform: rotate(-45deg);
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:after {
    transform: rotate(45deg);
}

.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:before,
.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:after {
    top: 0;
}

.container {

    width: 100%;
    float: left;
    margin-top: 100px;

}

.content {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 92%;
    align-items: center;
    margin: 0 auto;
    max-width: 1500px;

}

li a {
    font-size: 16px;
}

body {
    background-color: rgb(6, 188, 247);
}

/* 48em = 768px */

@media (min-width: 48em) {

    .header li {
        float: left;
    }

    .header li a {

        padding: 15px 20px;
        margin-top: 10px;
        border-radius: 6px;

    }

    .header .nav {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .mobile-icon {
        display: none;
    }

    .header li a {

        transition: .3s;
        border-bottom: 0;

    }

}

.welcome {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;

}

.titlex {

    font-size: max(50px, 3.5em);
    width: 80%;
    font-family: Montserrat;
    color: white;
    margin-bottom: 5%;
}

.fon36 {
    font-size: max(24px, 0.6em);
}

.wid60 {
    width: 60%;
    margin-left: 5%
}

.jef {
    display: none;
    width: 50%;
}

.avec {
    background-color: rgb(6, 188, 247);
    background: linear-gradient(-90deg, rgba(0, 49, 67, 0), rgb(0, 41, 53)), url('https://lh3.googleusercontent.com/p/AF1QipOuFc4ku7cfsGsyocWNWf4Bu5p1qAgEcBXpQaeX=s680-w680-h510');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 150vh;
    max-height: 1200px;

}



.container-avec {
    width: 100%;
    height: 90vh;

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btnavec {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    z-index: 9999;
    position: relative;
    background-color: #7269fa;
    color: white;
    text-decoration: none;
    position: relative;
    transition: 3s !important;

}

.btnavec:hover {
    box-shadow: 3px 3px 0px 0 #8c86e0;

}


.click-button {
    display: block;
    color: white;
    font-size: 12px;
    margin-top: 3%;
}

.imgAvec {
    width: 50px;
}


.box-sha {

    background-color: rgb(218, 165, 32);
    padding: 2px;
    color: black;
}

.wid40 {
    width: 40%;
    margin-bottom: 10%;
}




.about {
    background-color: rgb(218, 165, 32) !important;
    max-height: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;

}

.she {
    background: linear-gradient(360deg, rgb(218, 165, 1), rgba(218, 165, 32, 0.9), rgba(218, 165, 32, 1)), url('https://uploads.grupodicas.com/2023/07/Dubai-25.png') !important;
    max-height: 600px;

    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.about-content {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}



.filter {
    filter: drop-shadow(30px 0px 00px rgb(6, 188, 247));
}

.title-about {
    position: relative;
    z-index: 9099999;
    color: black !important;
}

.lis {
    border-bottom: 5px solid white;
}


.aboutt {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;
    text-align: left;
}

.estil {
    background-color: white;
    color: #7269fa;
    box-shadow: 10px 10px 0px #4639ff;

}

.textshei {
    width: 90%;
    max-width: 450px;
    color: black !important;
    font-size: 16px;
    font-weight: 500 !important;
}

.phoneC {
    width: 100%;
    height: 60vh;
    max-height:
        400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.phone-container {
    width: 100%;
    height: 100%;

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phonetexts {
    width: 55%;
    height: 100%;
    background-color: #06bcf7;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-family: Montserrat;
    flex-direction: column;
}

.agendeja {
    color: white;
    width: 60%;
    text-align: right;
    font-size: 44px;
}

.apps {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0%;
    padding-bottom: 3%;
    height: 40px;

}

.app {
    width: 30%;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}

.showMU {
    display: none;
}

.phoneimg {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(celm.png);
    background-size: cover;
    background-position: center;
}


.phone-cel {
    position: relative;
    width: 50%;
    margin-left: 5%;
    margin-bottom: 5%;
    z-index: 90000;
    filter: drop-shadow(10px 0px 10px rgb(0, 56, 75));

}


.equipePa {
    width: 100%;

    height: 110vh !important;
    max-height: 900000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: #daa520;
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 90;
    height: 100%;

    background:
        radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #d6edff 54% 57%, #0000 59%) 0 calc(192px/2),
        radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #d6edff 54% 57%, #0000 59%) calc(192px/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #d6edff 54% 57%, #0000 59%),
        radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #d6edff 54% 57%, #0000 59%),
        #ffffff;
    background-size: calc(192px/4.667) 192px, 192px calc(192px/4.667);



}

.texttitleequipe {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.estilo {
    color: white;
    background-color: #01a2c8;
    width: 100px;
}

.titleequipe {
    margin-top: 2%;
    font-size: 50px;
    font-family: Montserrat;
    letter-spacing: -5px;
}

.equipcontent {
    position: relative;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membroVi {
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membrofato {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.apresent {
    font-family: Montserrat;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10%;
}

.name {
    font-size: 24px;
}

.especialist {
    background-color: white;
}

.estinome {
    background-color: #01a2c8;
    color: white;
    font-weight: 800;
    letter-spacing: 5px;

    padding: 10px;

}

.feedbacksMobile {
    display: none !important;
}

.vittor {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./vit.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.bruno {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./bru.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.and {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./and.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dem {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./dem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.del {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./gid.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.beClube {

    background: #e3cca4;
    background: linear-gradient(180deg, #e3cca4, #e3cca461), url('sand.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.abuton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: rgb(218, 165, 32);
    font-weight: 700;
    letter-spacing: -2px;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    z-index: 10;
}

.beClubeContent {
    width: 100%;
    height: 10%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
}



.clubeTitle {
    font-size: 50px;
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-family: Montserrat;
    text-align: left;
    position: relative;
    z-index: 10;

}


.list {
    margin-top: 10px;
    font-size: 18px !important;
}

.fundoClu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    margin: 0 auto;
    right: 0;
    bottom: 0;

    background: url(vv-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.esticlube {
    background-color: rgb(6, 188, 247) !important;
    color: black;
}


.titleBe {
    width: 50%;
    font-size: 14px;
    color: black;
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    text-align: center;
    padding-top: 1%;
    position: relative;
    z-index: 10;
    padding-bottom: 2%;
}

.aboutt h3 {
    margin-top: 20px;
    text-align: right;
    font-family: Montserrat;
    text-align: left;
    padding-left: 5%;

    font-weight: 500;

}

.aboutt h1 {
    padding-top: 0px;

    font-family: 'Seleha', Montserrat;
    font-weight: 600;
}

.phone {
    position: relative;
    width: 33%;
    max-width: 800px;

    animation: ups 1s;
}

@keyframes ups {
    0% {
        margin-top: 100px;
    }

    100% {
        margin-top: 0;
    }
}

.letters {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;
}

.letters h1 {
    margin-left: auto;
    text-align: right;
    width: 100%;
    max-width: 700px;
}

h1 {
    font-size: 48px;
}

.let {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -2px;
    color: white;
}

.tit {
    font-size: 38px;
}



h3 {
    text-align: right;
}

button {
    text-align: center;
    font-size: max(18px, 1vw);
    padding: 15px;
    width: 100%;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    font-weight: 700;
    cursor: pointer;
}

.equipe {
    background-color: rgb(6, 188, 247);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://imgmd.net/images/c_limit%2Cw_1600/v1/guia/1684181/dubai-213-c.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 220vh;
    width: 100%;
}

.letreia {
    font-family: Montserrat;
    text-align: left;
    width: 45%;
    padding: 20px;
}

.letreia h1 {
    padding-top: 0px;
    color: #02a1ee;
    /* color:rgb(6, 188, 247) ; */
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.grid {
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.boxca {
    background-color: white;
    width: 200px;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.grid img {
    background-color: #02a1ee;
    border-radius: 50%;
    padding: 10px;
}

.grid p {
    text-align: center;
    font-size: 14px;
}

.servicos {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membros {
    position: relative;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membros .me {
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
}

.me h2 {

    font-weight: 500;
    font-size: 30px;
    margin-top: -200px;
    opacity: 0;
    transition: 0.5s;
    letter-spacing: 3px;
}

.me:hover>h2 {
    opacity: 1;
    margin-top: -230px;
}






.letreiro {
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe h1 {
    font-weight: 400;
    letter-spacing: 3px;
}


.estrutura {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagens {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: rgb(6, 188, 247);
    padding-left: 2%;
    color: white;
}

.destaque {
    background-color: rgb(218, 165, 32);
    color: black;
}

.pallaceImg {
    width: 60%;
    height: 100%;
    background: url(papace.jpg) fixed;
    background-position: left;
    background-size: contain;

}

.menneor {
    margin-top: 5%;
    font-size: 22px;
    font-weight: 600;
    width: 90%;
}


.estrutura {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}




.mensagensNo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2%;
}

.destaque {
    background-color: rgb(218, 165, 32);
    color: black;
}

.menOi {
    font-size: 14px;
}

.minor {
    font-size: 24px;
}

.diadoN {
    width: 100%;
    height: 70vh;
    max-height: 600px;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}


.asdl {
    color: white;
}


.diadoNaa {
    width: 100%;
    height: 70vh;
    max-height: 600px;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
}

.diadoN2 {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1300px;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
}

.imgNoivo {
    width: 50%;
    height: 100%;
    background: url(ha.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;


}

.mestre {
    font-size: 40px;

}

.forca {
    width: 50%;
    margin-top: 2%;
    max-width: 300px;
}

.orc {
    width: 100%;
    height: 70vh;
    max-height: 250px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(218, 165, 32);
    flex-direction: column;
}

.porc {
    width: 100%;
    max-width: 800px;
    padding-left: 5%;
    font-weight: 600;
}

.zapzap {
    width: 70% !important;
    background-color: #25D366 !important;
    box-shadow: 10px 10px 0 #047a30 !important;
}

.zapzap:hover {
    box-shadow: 3px 3px 0px 0 #047a30 !important;

}

.mar {
    margin-left: 3%;
}


.falc {
    width: 100%;
    margin: 2rem auto;
}



.gallery {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Sintaxe alternativa **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}

.imgNoivo2 {
    width: 50%;
    height: 100%;
    background: url(groom-best-men-posing-beach.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.ulnoi {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    list-style: none;
    position: relative;
    margin-top: 10%;

}



.linoi {
    font-size: 14px !important;
    font-weight: 400;
    color: black;
    letter-spacing: 0px;
}

.menneor {
    margin-top: 5%;
    font-size: 22px;
    font-weight: 600;
    width: 90%;
}






.letreia p {
    padding-top: 30px;
    font-family: Montserrat;
    color: black;
    font-weight: 700;
}



.botao {

    padding: 10px 12px;
    color: #fff;
    font-family: 'open_sansregular';
    font-family: 'open_sansregular';

    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;

}


.botao {

    font-size: 1em;
    color: #ffffff;
    text-align: center;
    font-family: 'open_sansregular';
    border: 1px solid #ffffff;
    border-radius: 3px;
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent !important;
    z-index: 10;

}


.main_footer_copy {
    background-color: #01a2c8;
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family: 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #e82626;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {

    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }

}

.about {
    position: relative;
}

.about .svgsw {
    position: absolute;
    top: 90px;
    width: 100%;
}

.btnler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02a1ee;
    color: white;
    cursor: pointer;
    width: 40%;
    height: 70px;
    margin-top: 50px;
    position: relative;
}

.btnler::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 10px;
    left: -30px;
    transition: 0.5s;

    border: 4px solid black;
}

.btnler:hover::before {
    top: 0px;
    left: 0px;
    width: 98%;
    height: 90%;
    border: 4px solid #02a1ee;

}

.yel {
    background-color: rgba(218, 165, 32);
}

.progress {
    width: 100%;
    height: 6px;

    background-color: rgba(218, 165, 32);
}

.feed {
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat;
    text-align: center;
    position: relative;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star {
    display: flex;
}

.star .hs {
    color: rgba(218, 165, 32);
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-person {
    width: 30%;
    margin-right: 10px;
}

.app {
    background-color: #01a2c8;
    width: 40%;
    margin: 10px;
    cursor: pointer;
}

.ios {
    background-color: white;
    color: black;
}

.cardPalla {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    border: 3px solid black;
}


.headcard {
    position: relative;

    width: 100%;
    display: flex;
    height: 10%;

}

.beClube {
    width: 100%;
    height: auto;
    max-height: 800000px;
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.cardsPallace {
    width: 80%;
    height: 25vh;
    margin-top: 5%;
}

.padrao {
    width: 100%;
    height: 25vh;
    background-color: rgb(6, 188, 247);
    color: white;
    position: relative;
    overflow: hidden;
}

.bepallace {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pacifi {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.descript {
    font-size: 16px;
    max-width: 500px;
}

.imageCard {
    width: 15%;
    position: absolute;
    top: -30px;
    left: -20px;
}

.rig {
    width: 15%;
    position: absolute;
    top: -30px;
    right: -20px;
}

.textsCard {
    width: 90%;
    height: 50%;
    margin-left: 16%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.griidEquipe {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.equiV {
    width: 45%;
    height: 100%;
    background: url(vit.jpg);
    background: linear-gradient(90deg, rgba(0, 191, 255, 0), rgba(0, 71, 95, 0)), url('vit.jpg');
    background-position: center;
    background-size: cover;
    background-position: calc(100% - 55%) calc(100% - 90%);

}

.equiVS {
    width: 45%;
    height: 100%;
    background: url(vit.jpg);
    background: linear-gradient(90deg, rgba(0, 191, 255, 0), rgba(0, 71, 95, 0)), url('bru.jpeg');
    background-position: center;
    background-size: cover;
    background-position: calc(100% - 58%) calc(100% - 90%);
    background-size: 180%;
}


.equiA {

    width: 45%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 71, 95, 0), rgba(0, 71, 95, 0)), url('and.jpg');

    background-position: center;
    background-size: cover;
    background-size: cover;
    background-position: calc(100% - 45%) calc(100% - 80%);
    background-size: 150%;
}

.equiD {
    width: 45%;
    height: 100%;
    background: url(dem.jpg);
    background: linear-gradient(90deg, rgba(0, 71, 95, 0), rgba(0, 71, 95, 0)), url('equie\ \(4\).png');
    background-position: center;
    background-size: cover;
    background-size: cover;
    background-position: calc(100% - 58%) calc(100% - 80%);
    background-size: 120%;
}

.equiG {
    width: 45%;
    height: 100%;
    background: url(gid.jpg);
    background: linear-gradient(90deg, rgba(0, 71, 95, 0), rgba(0, 71, 95, 0)), url('gid.jpg');

    background-position: center;
    background-size: cover;
    background-size: cover;
    background-position:
        calc(100% - 60%) calc(100% - 90%);


    background-size: 150%;
}

.gridpa {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 70%;
    height: 80%;
    max-height: 600px;
}

.btnGoEquipe {
    position: absolute;
    top: 45%;
    background-color: rgb(218, 165, 1);
    box-shadow: 0 0 10px black;
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleRquipe {
    font-size: 30px;
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 2%;
    color: white;
    font-weight: 600;
}

.btnGoEquipes {
    background-color: rgb(218, 165, 1);
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobilebody {
    display: none !important;
}

.deskbody {
    display: flex !important;
}

@media (max-width:700px) {
    .mobilebody {
        display: flex !important;
    }

    .header .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11vh;
        height: 88vh;
        justify-content: space-around;
        z-index: 99999;
        position: absolute;
        clear: both;
        left: 0;
        background-color: rgb(6, 188, 247);
        max-height: 0;
        z-index: 99999999999999999999999;

        transition: max-height .2s ease-out;
    }

    .avec {
        height: 70vh;
        background-position: center;
        flex-direction: column;
        margin-top: 90px;
    }

    .phone {
        width: 60%;
        margin-top: -100px;
    }


    .diadoNaa {
        margin-top: 10%;
        width: 100%;
        height: 100vh !important;
        max-height: 6000000px !important;
        display: flex;

        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row-reverse;
    }



    .mensagensNo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 60%;
        padding: 2%;
    }


    .diadoN {
        width: 100%;
        height: 70vh;
        max-height: 600px;
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .mestre {
        font-size: 25px;
    }

    .diadoN2 {
        width: 100%;
        height: 100%;
        display: flex;
        max-width: 1300px;

        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }


    .imgNoivo {
        width: 100% !important;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;


    }




    .imgNoivo2 {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;


    }


    .forca {
        width: 100%;
        margin-top: 2%;
        max-width: 90000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .asdl {
        text-align: center;
        font-size: 26px !important;
        margin-bottom: 2%;
        color: black;
    }

    .orc {
        width: 100%;
        height: 70vh;
        max-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(218, 165, 32);
        flex-direction: column;
    }

    .zapzap {
        background-color: rgb(6, 188, 247) !important;
        box-shadow: none !important;
    }

    .zapzap:hover {
        box-shadow: 3px 3px 0px 0 rgb(3, 141, 187) !important;

    }

    .mar {
        margin-left: 3%;
    }



    .letters {
        margin-top: -174px;
        z-index: 9999999;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .letters h3 {
        text-align: center;
    }

    .aboutt h1 {
        font-size: 26px;
    }



    .btnavec {
        width: 60%;
        height: 50px;
    }

    .imgAvec {
        width: 30px;
    }

    .about {
        display: flex;
        flex-direction: column;
        height: 100vh;
        max-height: 700px;
        box-shadow: 0 0 10px #006d91;
    }

    .she {
        background: linear-gradient(360deg, rgb(218, 165, 1), rgba(218, 165, 32, 0.8), rgba(218, 165, 32, 1)), url('https://uploads.grupodicas.com/2023/07/Dubai-25.png') !important;
        max-height: 600px;

        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: bottom;
    }

    .about-content {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 50%;

    }

    .calltohistory {
        margin-top: 20px;
        width: 100%;
        max-width: 200px;
        color: black;
        font-size: 14px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        background-color: #02a1ee;
    }

    .funshe {
        position: relative;
        z-index: 99999;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .realfun {
        width: 85%;
        height: 85%;
        background: url('man.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .realfun::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 5px;
        border: 3px solid #02a1ee;
    }

    .aboutt {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: 5%;
    }


    .phoneC {
        width: 100%;
        height: 60vh;
        max-height: 300000000px;
        display: flex;
        justify-content: center;
        background-color: #06bcf7;
        align-items: center;

    }

    .phone-container {
        width: 100%;
        height: 100%;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;


    }

    .phonetexts {
        width: 100%;
        height: 45%;
        background-color: #06bcf7;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Montserrat;
        flex-direction: column;
        text-align: center;

    }

    .agendeja {
        color: white;
        width: 95%;
        font-size: 26px;
        text-align: left;
        padding-left: 5%;
        padding-top: 5%;

    }

    .equipePa {
        height: 110vh !important;
        max-height: 900000px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        background-color: #daa520;
    }

    .padrao {
        width: 100%;
        height: 20vh;
        background-color: rgb(6, 188, 247);
        color: white;
        position: relative;
        overflow: hidden;
    }


    .betitlepallace {
        font-size: 46px;
    }

    .pacifi {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .bepallace {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .equipePa .titleRquipe {
        font-size: 30px;
        width: 95%;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding-left: 5%;
        color: white;
        font-weight: 600;
    }

    .gridpa {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        width: 100%;
        height: 85%;
        flex-wrap: wrap;
    }

    .btnGoEquipe {
        position: absolute;
        top: 45%;
        background-color: rgb(218, 165, 1);
        box-shadow: 0 0 10px black;
        color: white;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        max-width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnGoEquipes {
        background-color: rgb(218, 165, 1);
        color: white;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        max-width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .griidEquipe {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .equiV {
        width: 45%;
        height: 50%;
        background: url(vit.jpg);
        background: linear-gradient(90deg, rgba(0, 191, 255, 0), rgba(0, 71, 95, 0)), url('vit.jpg');
        background-position: center;
        background-size: cover;
        background-position: calc(100% - 55%) calc(100% - 90%);
        background-size: 150%;
    }

    .equiVS {
        width: 45%;
        height: 50%;
        background: url(vit.jpg);
        background: linear-gradient(90deg, rgba(0, 191, 255, 0), rgba(0, 71, 95, 0)), url('bru.jpeg');
        background-position: center;
        background-size: cover;
        background-position: calc(100% - 55%) calc(100% - 90%);
        background-size: 150%;
    }

    .deskbody {
        display: none !important;
    }

    .equiA {

        width: 45%;
        height: 50%;
        background: linear-gradient(90deg, rgba(0, 71, 95, 0), rgba(0, 71, 95, 0)), url('and.jpg');

        background-position: center;
        background-size: cover;
        background-size: cover;
        background-position: calc(100% - 45%) calc(100% - 80%);
        background-size: 150%;
    }
    .mmm{
        display: block !important;
    }
    .ddd{
        display: none !important;
    }
    
    .equiD {
        width: 45%;
        height: 50%;
        background: url(dem.jpg);
        background: linear-gradient(90deg, rgba(0, 71, 95, 0), rgba(0, 71, 95, 0)), url('equie\ \(4\).png');
        background-position: center;
        background-size: cover;
        background-size: cover;
        background-position: calc(100% - 58%) calc(100% - 90%);
        background-size: 120%;
    }

    .equiG {
        width: 45%;
        height: 50%;
        background: url(gid.jpg);
        background: linear-gradient(90deg, rgba(0, 71, 95, 0), rgba(0, 71, 95, 0)), url('gid.jpg');

        background-position: center;
        background-size: cover;
        background-size: cover;
        background-position:
            calc(100% - 60%) calc(100% - 90%);


        background-size: 150%;
    }

    .goEquipe {
        width: 100%;
        height: 10%;

    }

    .apps {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding-bottom: 3%;

    }

    .app {
        background-color: #01a2c8;
        width: 40%;
        margin: 10px;
        cursor: pointer;
    }

    .ios {
        background-color: white;
        color: black;
    }

    .phoneimg {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        background: url(celm.png);
        background-position: center;
        background-size: cover;

    }


    .estrutura {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }


    .mensagens {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 75%;
        background-color: rgb(6, 188, 247);
        padding-left: 2%;
        color: white;
    }

    .destaque {
        background-color: rgb(218, 165, 32);
        color: black;
    }

    .pallaceImg {
        width: 100%;
        height: 25%;
        background: url(papace.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .men {
        font-size: 40px;
    }

    .menneor {
        margin-top: 5%;
        font-size: 16px;
        font-weight: 600;
        width: 90%;
    }

    .phone-cel {
        position: relative;
        width: 90% !important;
        width: 100%;
        margin-bottom: 10%;
        filter: drop-shadow(10px 0px 10px rgb(0, 56, 75));

    }


    .equipcontent {
        flex-direction: column;
    }

    .titleequipe {
        font-size: 30px;
    }

    .membroVi {
        width: 100%;
    }

    .colfooter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .mt3 {
        margin-top: -40px;
    }

    .aboutt h3 {
        text-align: center;
    }

    .about img {
        width: 100%;
    }

    .aa {
        display: flex;
        align-items: flex-end;
    }


    .beClube {
        width: 100%;
        height: 180vh !important;
        max-height: 800000px;
        max-width: 1300px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 0vh;
        padding-top: 0vh;
    }


    .abuton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 200px;
        height: 50px;
        background-color: rgb(218, 165, 32);
        font-weight: 600;
        letter-spacing: -2px;
        font-family: Montserrat;
        font-size: 18px;
        text-decoration: none;
        color: black;
        /* margin-top: 5%; */
        margin-left: 5%;
        position: relative;
        z-index: 10;
    }


    .fundoClu {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 8;
        right: 0;
        bottom: 0 !important;
        background: url(vv-removebg-preview.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .beClubeContent {
        width: 100%;
        height: 30vh;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .cardsPallace {
        width: 100%;
        height: 35vh;
        margin-top: 10vh;
    }


    .cardPalla {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;

        border: 3px solid black;
    }


    .headcard {
        position: relative;

        width: 100%;
        display: flex;
        height: 50%;

    }

    .imageCard {
        width: 50%;
        position: absolute;
        top: -30px;
        left: -20px;
    }

    .rig {
        width: 50%;
        position: absolute;
        top: -30px;
        right: -20px;
    }




    .esticlube {
        color: black;
    }

    .textsCard {
        width: 90%;
        height: 50%;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .h2 {
        font-size: 24px;
    }



    .titleBe {
        width: 70%;
        font-size: 14px;
        color: black;
        font-family: Montserrat;
        font-weight: 600;
        text-align: left;
        padding-left: 5%;
        position: relative;
        z-index: 10;
        margin-top: 10px;
    }

    .list {
        font-size: 14px !important;
    }

    .descript {
        font-size: 14px;
        max-width: 300px;
    }

    .clubeTitle {
        font-size: 40px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-family: Montserrat;
        text-align: left;
        padding-left: 5%;
        position: relative;
        z-index: 10;
        padding-top: 20%;
        color: black;
    }

    .tit-feed {
        font-size: 36px;
    }


    .feedbacks {
        display: none;
    }

    .feedbacksMobile {
        display: flex !important;
    }

    .showMU {
        display: flex;
    }




    .history {
        height: 75vh;
        flex-direction: column;
    }

    .historyT {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .history h1 {
        font-size: 36px;
    }

    .textshei {
        font-size: 14px;
        text-align: left !important;
        padding: 0 !important;
        color: white;
        font-weight: 600;
    }

    .historyT h3 {
        text-align: center;
    }

    .history img {
        width: 100%;
    }

    .servicos {
        flex-direction: column;
    }

    .letreia {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .letreia h1 {
        font-size: 36px;

    }

    .boxca {
        width: 170px;
    }

    .grid {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .membros {
        flex-direction: column;
    }

    .membrofato {
        width: 100%;
        height: 100%;

        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .vittor {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./vit.jpg');
        background-repeat: no-repeat;
        background-position:
            calc(100% - 80%) calc(100% - 90%);


        background-size: 150%;

    }

    .bruno {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./bru.jpeg');
        background-repeat: no-repeat;
        background-position:
            calc(100% - 80%) calc(100% - 90%);


        background-size: 150%;

    }

    .and {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./and.jpg');
        background-repeat: no-repeat;
        background-position:
            calc(100% - 80%) calc(100% - 80%);


        background-size: 150%;
    }

    .dem {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./dem.jpg');
        background-repeat: no-repeat;
        background-position:
            calc(100% - 80%) calc(100% - 70%);


        background-size: 150%;
    }

    .del {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(6, 187, 247, 0)), url('./gid.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-position:
            calc(100% - 80%) calc(100% - 80%);


        background-size: 150%;
    }


    .body {
        width: 100% !important;
        height: 60vh;
        display: flex;
        align-items: center;
        font-family: "Satoshi", sans-serif;
        font-size: var(--lx-text-01);
        font-weight: 500;
        color: #ffffe6;
        background-color: #10100e;
    }

    .me h2 {

        font-weight: 500;
        font-size: 30px;
        margin-top: -40px;
        opacity: 0;
        transition: 0.5s;
        letter-spacing: 3px;
    }

    .me:hover>h2 {
        opacity: 1;
        margin-top: -70px;
    }


    .letreiro h1 {
        font-size: 36px;
        text-align: center;
    }

    .titlex {
        width: 80%;
        font-size: 24px;
    }

    .fon36 {
        font-size: 20px;
    }

    .wid60 {
        width: 100%;
    }

    .wid40 {
        width: 80%;
        margin-bottom: 0;
    }

    .about .svgsw {
        top: 0;
    }

    @media (max-height: 700px) {
        .about img {
            width: 80%;
        }
    }



}



carousel {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-item {
    float: left;
    display: none;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.active {
    display: block;
}


.test {

    transform: translateX(50%);
}

.ani {
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.5s;
}

.anit {
    opacity: 0;
    transform: translatex(-50%);
    transition: all 1.5s;
}

.anim {
    opacity: 0;
    transform: translatex(50%);
    transition: all 2s;
}






.show {
    opacity: 1;

    transform: translateX(00);
    transform: translateY(00);

    filter: blur(0px);
}
.mmm{
    display: none ;
}
.ddd{
    display: block ;
}

.body {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    font-family: "Satoshi", sans-serif;
    font-size: var(--lx-text-01);
    font-weight: 500;
    color: #ffffe6;
    background-color: #10100e;
    margin: 0 auto;
}

.carousel-container {
    width: 100%;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--lx-gap);
    height: 100%;
}

.carousel-container .carousel {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-container .carousel .item {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-container .carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-container .carousel .item .caption {
    width: 100%;
    padding: var(--lx-space-01);
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-container .carousel .item.active {
    opacity: 1;
    display: block;
}

.carousel-container .btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #10100e;
    background-color: #ffffe6;
    transition: transform 0.2s ease-in-out;
}

.carousel-container .btn:active,
.carousel-container .btn:focus {
    transform: translateY(-50%) scale(0.9);
}

.carousel-container .btn:hover {
    transform: translateY(-50%) scale(0.96);
}

.carousel-container .prev {
    position: absolute;
    left: -40%;
    font-size: 46px;
}

.carousel-container .next {
    position: absolute;
    font-size: 46px;
    right: -40%;

}

.carousel-container .dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 90%;
}

.carousel-container .dots .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #242421;
    transition: background-color 0.2s ease;
}

.carousel-container .dots .dot.active,
.carousel-container .dots .dot:hover {
    background-color: #ffffe6;
}

.footer {
    position: relative;
    display: flex;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: rgb(6, 188, 247);
    border-top: 1px solid #e5e5e5;
}



.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr .logo {
    width: 50%;
    max-width: 100px;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: white;
    font-size: 12PX;
    width: 60%;
    margin-top: 5%;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(218, 165, 32);

    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: white;
}

.afoo {
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 700;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

.pones {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contactpone {
    font-size: 12px;
    color: white !important;
}


.pone1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footerReserved {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096c8;
    text-align: center;
}

.fonmin {
    color: white;
    font-size: 12px;
}

.fontClick {
    color: white;
    font-size: 12px;
    padding-top: 5%;
}

.solut {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    opacity: 0.3;
    z-index: 1;
}

.abae {
    background-color: white !important;
    height: 250vh !important;
}

.contaba {
    width: 85%;

}

.memo {
    margin-top: 10px;
}



.zpazap {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 100%;
    width: auto;
    z-index: 999999999999999;
}

.zz {
    width: 70px !important;
    background-color: green;
    padding: 10px !important;
    border-radius: 100%;
}

@media (min-width: 700px) {
    .abae {
        height: 100vh !important;
    }

    .header .nav {

        height: 10vh;
    }

    .header .nav li a {
        font-size: 14px;
    }

    .titlex {

        font-size: 50px;
        width: 70%;
        font-family: Montserrat;
        color: white;
        margin-bottom: 5%;
    }

    .calltohistory {
        width: 100%;
        max-width: 200px;
        color: black;
        font-size: 14px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 20px;

        background-color: #02a1ee;
    }

    .fon36 {
        font-size: 36px;
    }

    .funshe {
        position: relative;
        z-index: 99999;
        height: 50%;
        background-color: red;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}